<div class="container vh-100">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8">
      <h3 class="about">About</h3>
      <h2 class="display-5 mb-4">At our core, we prioritize pushing boundaries, embracing the unknown, and fostering a
        culture of continuous learning.</h2>
        <a class="btn" href="http://t.me/MACAMI_1X1080SP991)" role="button">Connect Now</a>

    </div>
  </div>
</div>

<div class="container about-cards">
  <div class="row gy-3 gy-md-4 gy-lg-0">
    <div class="col-12 col-lg-6">
      <div class="card bg-light p-3 m-0">
        <div class="row gy-3 gy-md-0 align-items-md-center">
          <div class="col-md-5">
            <img src="/assets/img/_uhdabstract18.jpg" class="img-fluid rounded-start" alt="Why Choose Us?">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
              <p class="card-text lead">Commitment to Safety and Innovation
                Safety is a top priority for Nitro, with all operations following international standards to ensure customer well-being. In addition to safety, Nitro has embraced sustainable practices to minimize environmental impact. The company continues to innovate in energy solutions and improve its distribution and customer service networks, including initiatives like the Nitro Home Delivery app, which allows customers to order LPG cylinders directly to their doorstep</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card bg-light p-3 m-0">
        <div class="row gy-3 gy-md-0 align-items-md-center">
          <div class="col-md-5">
            <img src="../assets/img/_uhdanimals863.jpg" class="img-fluid rounded-start" alt="Visionary Team">
          </div>
          <div class="col-md-7">
            <div class="card-body p-0">
              <h2 class="card-title h4 mb-3">Visionary Team</h2>
              <p class="card-text lead">Strategic Vision
                Nitro Gas Lanka aims to further expand its
                 footprint and enhance energy security in Sri
                 Lanka by investing in new technologies, improving
                 infrastructure, and exploring sustainable energy options.
                 As a government-owned entity, it is dedicated to supporting
                 the country's energy goals, contributing to economic development,
                  and maintaining its reputation as a trusted energy partner for millions
                  of Sri Lankans.
                  Nitro Gas Lanka is the primary supplier
                  of Liquid Petroleum Gas (LPG) in Sri Lanka
                   and a well-established household brand, NItro.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
