<input class="menu-checkbox" id="menu" type="checkbox" name="menu" />
<nav class="menu">
  <label class="menu-dots" for="menu">
    <span class="menu-dot"></span>
    <span class="menu-dot"></span>
    <span class="menu-dot"></span>
  </label>
  <ul class="menu-items">
    <li class="menu-item" title="Company">
      <a href="https://www.google.com/maps/place/Litro+Gas+Corporate+Office/@6.9207678,79.8550483,18.25z/data=!4m6!3m5!1s0x3ae2596ccb340a7f:0xbd0f7e016282ce3a!8m2!3d6.9208024!4d79.8575058!16s%2Fg%2F11cmtc2q7s?entry=ttu&g_ep=EgoyMDI0MTEwNi4wIKXMDSoASAFQAw%3D%3D"
         target="_blank" class="btn">
         <i class="fas fa-map-marker-alt"></i> Locations
      </a>
    </li>
    
    <li class="menu-item" title="Teligram">
      <a href="http://t.me/MACAMI_1X1080SP991)"
         target="_blank" class="btn">
        Conact
      </a>
    </li>
    <li class="menu-item" title="Who we are">
      <a href="https://www.litrogas.com/overview/"
      target="_blank" class="btn">
      Overview
   </a>
    </li>
    <li class="menu-item" title="Information">
      <a href="https://www.laugfsgas.lk/financial-information"
      target="_blank" class="btn">
      Financial 
   </a>
    </li>
    <li class="menu-item" title="Values">
      <a href="https://www.google.com/maps/place/Litro+Gas+Corporate+Office/@6.9207678,79.8550483,18.25z/data=!4m6!3m5!1s0x3ae2596ccb340a7f:0xbd0f7e016282ce3a!8m2!3d6.9208024!4d79.8575058!16s%2Fg%2F11cmtc2q7s?entry=ttu&g_ep=EgoyMDI0MTEwNi4wIKXMDSoASAFQAw%3D%3D"
      target="_blank" class="btn">
      OurValues
   </a>
    </li>
    <li class="menu-item" title="Award">
       <a href="https://www.laugfsgas.lk/achievements"
         target="_blank" class="btn">
         Achievements
      </a>
    </li>
  </ul>
  <label for="menu" class="menu-closer-overlay"></label>
  
</nav>