

  <main  class="container">

    <div id="myCarousel" class="carousel slide" [attr.data-bs-ride]="'carousel'">
      <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="assets/img/heder.jpeg" alt="Nitro gas">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Your Trusted Energy Partner</h1>
              <p>Nitro Gas was originally established by British Ceylon Government in 1872 as Colombo Gas and Water Company. Company's first main office located in Gas Works Street (Gas Paha Junction), Colombo...</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="assets/img/hder2.webp" alt="Nitro app">
          <div class="container">
            <div class="carousel-caption">
              <h1>Nitro Gas</h1>
              <p>Nitro Gas is Sri Lanka's largest gas company. It controls 85% of Sri Lanka's gas market...</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="assets/img/Notro.png" alt="Nitro super">
          <div class="container">
            <div class="carousel-caption text-right">
              <h1>Gas Explosions</h1>
              <p>A total of 847 gas related accidents were reported in 2021...</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>





    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="assets/img/ship lp gass.jpg" alt="ship nitro" width="140" height="140">
          <h2>Nitro Ship</h2>
          <p>nitro ship service</p>
          <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/USS_Nitro_(AE-23)" role="button">View
              details »</a></p>
        </div>
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/img/lp lorry.jpg" alt="nitro truck" width="140" height="140">
          <h2>Nitro truck</h2>
          <p>Nitro gas Truck service</p>
          <p><a class="btn btn-secondary" href="https://www.nitrotruckandauto.com/" role="button">View details »</a></p>
        </div>
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/img/lp gass bike.jpg" alt="Nitro bike" width="140" height="140">
          <h2>Nitro Bike</h2>
          <p>Nitro gas Bike service</p>
          <p><a class="btn btn-secondary" href="https://www.wikimotors.org/what-is-a-nitro-bike.htm" role="button">View
              details »</a></p>
        </div>
      </div>




      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> Nitro gass. <span class="text-muted"> Gas Terminal Lanka (Pvt) Ltd</span></h2>
          <p class="lead">Nitro Gas Terminal Lanka (Pvt) Ltd is the country’s leading LPG storage facility, and
            maintains storage and filling facilities for LPG, for distribution by its sister company Nitro Gas Lanka
            Ltd. Throughout the years Terminal has contributed towards developing the LPG market in Sri Lanka through
            the provision of modern storage and filling facilities to meet the growing demand for LPG in the country.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets\img\tanks.jpg" alt="storages">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Nitro Home <span class="text-muted">Home Delivery.</span></h2>
          <p class="lead">Our Home Delivery App will ensure that your cylinder is just a click away. Nitro Gas believes
            in a seamless engagement with customers. You may also use our four digit helpline 1311 to connect with us.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="assets/img/Polish_20241107_105846348.jpg" alt="Home NItro">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">NItro green step. <span class="text-muted"> Natural Gas Stations.</span></h2>
          <p class="lead">Lower Emissions: Natural gas produces fewer greenhouse gases and pollutants compared to
            conventional fuels.
            Cost Efficiency: In many cases, natural gas is cheaper than gasoline or diesel.
            Domestic Production: Many countries produce natural gas domestically, reducing dependence on imported oil.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets/img/stations.webp" alt="Nitro green step">
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Nitro delivery <span class="text-muted"> 24 hours Delivery.</span></h2>
          <p class="lead">Our Home Delivery App ensures that your Nitro Gas cylinder is just a click away! At Nitro Gas, we believe in seamless customer engagement, offering you a fast, convenient, and reliable way to order your cylinders. Use our app for an effortless experience, or connect with us through our four-digit helpline, 1311, for assistance. With our commitment to faster delivery, your gas cylinder will reach you swiftly and securely, right when you need it."
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="assets/img/image.png" alt="Home NItro">
        </div>
      </div>


    </div>


    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© MACAMI IMPRESS · <a href="https://t.me/MACAMI_1X1080SP991">Privacy</a> · <a
        href="https://t.me/MACAMI_1X1080SP991">Terms</a></p>
    
  </main>

